/*
this is the css for the login page
Keep it simple, this will not be looked at that long
*/


html, body{

background-color: grey;


}

.loginBox{
    width: 50%;
    height:
}

.googleButton{
    
    position: absolute;

    
}