html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #c9baba;
    user-select: none; /* Standard syntax  */
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background: #14591D;
}

.table-header {
    width: 900px;
    height: 100px;
    display: flex;
    /*this centers the text horizontally*/
    justify-content: center;
    /*this centers the text vertically*/
    align-items: center;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 70px;
    background: #b20a0a;
    z-index: 1;
}



table {
    margin-top: 0px;
    margin-left: 50px;
    width: 900px;
    height: 500px;
    background: #000;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #04AA6D;
    color: white;
    width: 14.28571428571429%;
    height: 15%;
}

td {
    text-align: right;
    vertical-align: top;
    background-color: white;
    color: #2d477b;
    height: 13.33333333333333%;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    font-size: 36px;
}

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        
        margin-left: 50px;
    }
.closebtn {
    font-size: 20px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    
    right: 0px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
        font-size: 25px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
/* creates the dropdown option */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1B24A;
    min-width: 160px;
    z-index: 70;
}
    /* cretaes what it looks like for dropdown */

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 71;
    }
        /* creates the text will look like */

        .dropdown-content a:hover {
            background-color: #ADD89D
        }
/* creates the hover color  */

.dropdown:hover .dropdown-content {
    display: dropdown-content;
}
/* combinds the two */

.btn:hover, .dropdown:hover .btn {
    background-color: #ADD89D;
}
/* combinds them again  */
.closebtn:hover {
    font-size: 30px;
}
.CheckBoxStyle {
    color: #FFFFFF;
    padding-left: 12px;
    font-size: 20px
}




.labelForForm{
    display:block;
    padding-left : 12px;
    padding-bottom : 12px;
    font-size: 17px;
}